<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @graph_datum.user_id %>
</p>

<p>
  <strong>Data1:</strong>
  <%= @graph_datum.data1 %>
</p>

<p>
  <strong>Data2:</strong>
  <%= @graph_datum.data2 %>
</p>

<p>
  <strong>Data3:</strong>
  <%= @graph_datum.data3 %>
</p>

<p>
  <strong>Data4:</strong>
  <%= @graph_datum.data4 %>
</p>

<p>
  <strong>Data5:</strong>
  <%= @graph_datum.data5 %>
</p>

<%= link_to 'Edit', edit_graph_datum_path(@graph_datum) %> |
<%= link_to 'Back', graph_data_path %>
